header {
	background: #BBBBBB;
	padding: 20px 0; 
}

.caixa {
	position: relative;
	width: 940px; 
	margin: 0 auto; 

}

nav {
	position: absolute; 
	top: 110px;
	right: 0;
}

nav li {
	display: inline; 
	margin: 0 0 0 15px; 
}

nav a {
	text-transform: uppercase; 
	color: #000000; 
	font-weight: bold; 
	font-size: 22px;
	text-decoration: none; 
}

nav a:hover { 
	color: #C78C19; 
	text-decoration: underline;
}

/* COMENTARIOS DAQUI PARA CIMA FORAM FEITOS EM PRODUTOS.CSS */


body {  /* Só mencionando a tag, editamos a tag inteira*/

}

.titulo-principal {
	margin-left: 20px;
}

#banner {  /*Ao usar #, estamos editando o ID - especifico */
	width: 100%;
	margin: 0;
}

.principal {  /* Com . significa que estamos editando uma classe */
	background: #CCCCCC;
	padding: 30px;
}

.titulo-centraizado {
	text-align: center;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color:red;
}

.itens {
	font-style: italic;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px; 
}



.grupo-itens {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}